@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@500&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Black: #000000;
    --Poppins: 'Poppins', sans-serif;
    --Pt: 'PT Serif', serif;
}

body {
    font-family: var(--Poppins);
    background-color: var(--Black);
    margin: 0;
    padding: 0;
}
h1 {
    font-family: var(--Pt);
}
h3, h2 {
    font-size: 18px;
}

p{
    font-size: 14px;
}

.h-title1{
    color: var(--White);
    padding-left: 5%;
    line-height:2;
}

.h-title2{
    color: var(--White);
    display: none;
}

.container {
    display:flex;
    background-color: var(--White);
    margin: 0 auto;
    margin-top: 0vh;
    padding: 0;
    width: 90%;
    margin-bottom: 2%;
    flex-direction: column;
}

.header {
    display: flex;
    margin: 0 auto;
    width: 60%;
    padding: 2%; 
}

.title {
    width: 50%;
    text-align: left;
}

.subtitle{
    width: 50%;
    margin-left: 10%;
}


.subtitle p {
    line-height: 1.5;
}

.crew-con{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    margin: 0 auto;
    width: 70%;
    justify-items:center;
}

.cm {
    max-width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cm-sub {
    display: flex;
}

.cm:nth-child(5), .cm:nth-child(2){
    margin-top: 3rem;
}

.crew .cm img {
    position:relative;
    max-width: 90%;
}

.job {
    padding-left: 2px;
    width: 10%; 
    writing-mode: vertical-rl;  
}

.job p {
    font-size: 10px;
    line-height: 0;
    Font-family:'PT Serif', serif;
}


/*-------------------------------*/
.attribution {
    margin-top: 3rem;
    display:flex;
    width:100%;
    align-content: flex-end;
    justify-content: center;
    position: relative;
    
}

.attribution p  {
    color: grey;
    font-size: 10px;
}
a {
    font-weight:bold;
    color: grey;
}


@media (max-width: 376px){
    
    .h-title1 {
        display: none;
    }

    .h-title2{
        display: block;
        color: var(--White);
        padding-left: 5%;
        line-height:2;

    }

    .crew-con{
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2,1fr);       
        width: 80%;     
    }
    
    figcaption{
        font-size: 80%;
    }
    
    .cm{
        margin-bottom: 0rem;
    }
    .header {
        flex-direction: column;
        width: 100%;  
    }
    
    .title{
        width: 90%;
        padding-left: 5%;
        font-size: 80%;
    }
    
    .subtitle{
         width: 90%;
         margin-left: 5%;
         
     }
    
    .subtitle p {
        font-size: 80%;
    }
    .subtitle h3 {
        font-size: 80%;
    }
     .cm:nth-child(2), .cm:nth-child(5){
        margin-top: 0rem;
    }
    
       .cm:nth-child(2), .cm:nth-child(4),  .cm:nth-child(6){
        margin-top: 2rem
    } 
    
    .job {
        padding-left: 2px;
    }
    
    .job p{
        font-size: 8px;
        line-height: 0;
        font-weight: 200;
    }

}